.navbar-brand{
    background: rgb(70,70,170);
    width: 140px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.main{
    min-height: 81vh;
}

.hero-main-img{
    background: #000000e6;
}